/* Estilos para o container do navbar */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* Fixa o navbar no topo */
    top: 0;
    left: 0;
    width: 100%;
    /* Ocupa toda a largura */
   background-color: black;
    padding: 20px;
    z-index: 1000;
    /* Ajuste conforme necessário */
}

/* Estilos para a lista do navbar */
.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* Alinha horizontalmente */
}

.nav-list li {
    margin-right: 20px;
    /* Espaçamento entre os itens da lista */
}

.nav-list a {
    text-decoration: none;
    color: #6300d7;

    /* Cor do texto */
}

button {
    color: #6300d7;
}

