.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: darkorchid;
    /* Ajuste conforme necessário */
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin-bottom: 10px;
    /* Espaçamento entre os itens da lista */
}

.nav-list a {
    text-decoration: none;
}