version: '3.1'

services:
  frontend:
    container_name: Stock_Project_frontend
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    working_dir: /frontend
    networks:
      - stock-app
    platform: linux/x86_64
    volumes:
      - ./frontend:/frontend
    depends_on:
      backend:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "lsof", "-t", "-i:3000"]
      interval: 10s
      timeout: 10s
      retries: 5

  backend:
    container_name: stock_Project_backend
    build:
      context: ./backend
      args:
        - NODE_ENV=development
    restart: always
    ports:
      - "3009:3009"
    platform: linux/x86_64
    working_dir: /backend
    networks:
      - stock-app
    volumes:
      - ./backend:/backend
    command: dev
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "lsof", "-t", "-i:3009"]
      interval: 10s
      timeout: 10s
      retries: 5

  postgres:
    container_name: stock_project_database
    image: postgres:14.1-alpine
    platform: linux/x86_64
    ports:
      - "5432:5432"
    restart: always
    env_file:
      - .env
    volumes:
      - pg-data:/var/lib/postgresql/data
    networks:
      - stock-app
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
      timeout: 10s
      retries: 5
    cap_add:
      - SYS_NICE # Deve omitir alertas menores

volumes:
  pg-data:
  # pgadmin-data:

networks:
  stock-app:
    driver: bridge

# pgadmin:
#   container_name: stock-project-pgadmin
#   image: dpage/pgadmin4
#   environment:
#     PGADMIN_DEFAULT_EMAIL: 'admin@admin.com'
#     PGADMIN_DEFAULT_PASSWORD: 'admin1234'
#   volumes:
#     pgadmin-data:/var/lib/pgadmin
#   ports:
#     - '5050:80'
#   networks:
#     - stock-app
#   restart: unless-stopped